# ignore all users
database/users/

# rental and response logs
database/logs/

#ignore all pycache
__pycache__/

# ignore all admin and API token
admin.py
test.py

# old code prior to optimizing...
old_code.py